################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestWithASPNETudemy/.vs/RestWithASPNETudemy/v15/Server/sqlite3
